<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          autoReload="true"
          internalLogLevel="Info">

        <!-- enable asp.net core layout renderers -->
        <extensions>
            <add assembly="NLog.Web.AspNetCore" />
        </extensions>

        <variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>
        <!-- the targets to write to -->
        <targets>

            <!-- write logs to file  -->
            <target xsi:type="File" name="allfile"
                    fileName="${LogDirectory}/${shortdate}.log"
                    layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
            <target name="console" xsi:type="Console" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        </targets>

        <!-- rules to map from logger name to target -->
        <rules>
            <!--All logs, including from Microsoft-->
            <!-- <logger name="*" writeTo="console" minlevel="Trace" final="true" /> -->
            <!-- <logger name="Microsoft.*" minlevel="Info" final="true" /> -->
            <logger name="System.*" finalMinLevel="Warn" writeTo=""/>
            <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="" />
            <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn"  writeTo=""/>
            <logger name="Microsoft.AspNetCore*" finalMinLevel="Warn"  writeTo=""/>
            <logger name="*" minlevel="Trace" writeTo="allfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
</configuration>